<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <header>
        <img class="logo" src="../public/img/logo/logo.png" alt="logo">
       <nav class="navbar">
            <ul class="nav_links">
                <li><a href="#">Homepage</a></li>
                <li><a href="#">Game List</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p class="left">Video Game Reviews</p>
        <p class="right"> <a href="https://github.com/fborja44/cs546-final-project">Source Code</a> | Stevens Institute of Technology</p>
    </footer>
</body>
</html>