<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <header>
        <img class="logo" src="/public/img/logo.png" alt="logo">
       <nav class="navbar">
            <ul class="nav_links">
                <li><a href="/">Homepage</a></li>
                <li><a href="/games">Game List</a></li>
                <li><a class = "signLink" id = "loginLink" href="/login">Login</a></li>
                <li><a class = "signLink" id = "signupLink" href="/signup">Sign up</a></li>
                <li ><a href="/logout" id = "LogoutLink" >Logout</a></li>
            </ul>
        </nav>
</header>
    <main>
        {{{body}}}
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/signup_ajax.js"></script>
    <footer>
        <p class="left">Video Game Reviews</p>
        <p class="right"> <a href="https://github.com/fborja44/cs546-final-project">Source Code</a> | Stevens Institute of Technology</p>
    </footer>
    <script src="/public/js/script.js"></script>
</body>
</html>