<header>
        <img class="logo" src="/public/img/logo.png" alt="logo">
       <nav class="navbar">
            <ul class="nav_links">
                <li><a href="/">Homepage</a></li>
                <li><a href="/games">Game List</a></li>
                <li ><a href="/" id = "signoutLink" >Sign out</a></li>
            </ul>
        </nav>
    </header>