/* Gameslist page styles
 ---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /** Font: Poppins **/

/** General Styles **/
main {
    align-items: center;
}

#games-list {
    margin-top: 10px;
    margin-bottom: 41px;
}

/** Search Form Styles **/
form {
    margin: 20px 0 10px 0;
}

label {
    font-family: "Poppins";
    font-weight: bold;
}

input[type=text] {
    background: white;

    font-family: "Poppins";
    font-size: 14px;
    width: 500px;

    margin: 0 0 0 5px;
    padding: 3px 12px 3px 12px;

    outline-width: 0px;

    border: 1px solid #aaa;
    border-radius: 5px;
}

select {
    background: white;

    font-family: "Poppins";
    font-size: 14px;
    width: 125px;

    margin: 0 5px 0 5px;
    padding: 3px 12px 3px 5px;

    outline-width: 0px;

    border: 1px solid #aaa;
    border-radius: 5px;
}

#game-search button {
    color: white;
    border-radius: 0 5px 5px 0;
}

button {
    background: #2473a4;
    color: black;

    font-size: 14px;

    border: none;

    padding: 3px 10px 3px 10px;
    border-radius: 5px 5px 5px 5px;
    font-family: "Poppins";
    font-weight: bold;
    border: 1px solid #aaa;

    position: relative;
    right: 8px;
}

button:hover {
    background: #888888;
    cursor: pointer;
}

#new {
    color: black;
    background: #a6a6a6;
    font-size: 14px;

    padding: 5px 10px 5px 10px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    border: 1px solid #666666;
    width: 140px;

    display: block;
}

#new:hover {
    background: #8d8d8d;
}

.form-error {
    background-color: #ED4337;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: italic;
    font-size: 14px;
    text-align: center;

    padding: 4px 0 4px 0;

    margin-right: 35%;
    margin-left: 35%;
}

.form-error p {
    margin: 0 0 0 0;
    color: black;
}

/** List styles **/
/* Game entry */
.games {
    background: white;
    color: black;
    list-style: none;

    /* margin: 20px auto 0 auto; */
    margin: 0 auto 0 auto;
    width: 1000px;
    /* border-radius: 5px; */
    border-bottom: 1px solid black;
    box-shadow: .1px 4px 5px #919aa1;
    font-size: 14px;
}

.game-desc {
    margin: 0 15px 10px 15px;
    font-style: italic;
    color: #747474;
}

#empty {
    padding-top: 15px;
}

/* Game score */
.score {
    background: #2FE58E;
    float: left;
    
    color: black;
    text-align: center;
    vertical-align: middle;
    
    font-weight: bold;
    font-size: 36px;

    width: 100px;
    height: 100px;

    margin: 35px 0 0 25px;
}

.score span {
    display: block;
    padding-top: 24px;
}

/* Game image */
.game-img {
    width: 110px;
    min-height: 110px;
    max-height: 160px;
    display: block;
    float: left;

    margin: 10px 25px 5px 25px;
}

/* Game info */
.info {
    padding: 10px 0 15px 0;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 28px;
    /* text-decoration: underline; */
}

.title:hover {
    color: #2473a4;
}

.info p {
    margin: 0 0 0 0;
    font-size: 20px;
}

.info p span {
    font-style: italic;
}

/** New Game Page Styles **/
h1 {
    font-family: "Poppins";
}
#game-new {
    display: block;
}

.form-elem label {
    display: block;
}

#form-container {
    margin: 0 auto 0 auto;
    width: 500px;
    padding-bottom: 42px;
}

#new-submit {
    margin: 10px auto 0 auto;
}

.form-elem {
    margin: auto;
}

.form-button {
    width: 15px;
    position: relative;
    top: 2px;
}

.update-field {
    margin-top: 5px;
}

.gameFormError {
    color: red;
    text-align: left;
}

.form-elem .gameFormInputError {
    border-color:red;
    border-width: 3px;
}

.hidden {
    display: none;
}

/* User Actions Styles */
.actions {
    text-align: right;
    margin: 5px 15px 5px 15px;
}

.action-form {
    display: inline;
}

.action-form button {
    background: none;
    font-weight: normal;
    border: none;
    padding: 0 0 0 0;
}

.actions a, .actions span {
    color: black;
    font-size: 14px;
}

.actions span {
    color: #2473a4;
}

.action-form button:hover {
    color: #2473a4;
    cursor: pointer;
}

.actions p {
    margin: auto;
}

.actions img {
    width: 14px;
    height: auto;
    float: none;
    margin: 0px 5px 0px 10px;
    padding-top: 2px;
    display: inline;
    position: relative;
    top: 1px;
}

#comment-img {
    margin-left: 2px;
}