/* Single game page styles
 ---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /** Font: Poppins **/

/** General Styles **/
main {
    align-items: center;
}

.review-container {
    background: white;
    width: 1000px;
    margin: auto auto 42px auto;
    box-shadow: .1px 4px 5px #919aa1;
    height: auto;
}

th {
    text-align: left;
}

#return {
    float: right;
    margin: 25px 30px 10px 30px;
}

h1 {
    color: white;
    padding: 10px 15px 10px 15px;
    margin: auto;
    background-image: linear-gradient(to right, #2473a4, #18415b);

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h3 {
    color: white;
    padding: 5px 15px 5px 15px;
    margin: auto;
    background-image: linear-gradient(to right, #2473a4, #18415b);
    font-weight: normal;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2 {
    margin: 0 0 0 15px;
    font-size: 18px;
}

/** Review Styles **/
.review {
    border-bottom: 1px solid black;
}

.review-heading {
    height: 50px;
    background: #dcf1f7;
    border-bottom: 1px solid black;
}

.profile-pic {
    width: 50px !important;
    height: 50px !important;
    margin: 0 15px 0 0 !important;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
}

.review-rating {
    background: #2FE58E;
    float: right;
    
    color: white;
    text-align: center;
    vertical-align: middle;
    
    font-weight: bold;
    font-size: 22px;

    width: 50px;
    height: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.review-rating span {
    display: block;
    padding-top: 12px;
}

.review p {
    margin: 5px 15px 5px 15px;
}

.review h2 {
    margin: auto 15px auto 15px;
    padding-top: 12px;
    background: #dcf1f7;
}

#empty {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 10px 0 10px 0;
}

/** Reply Form **/
form {
    padding: 0px 15px 15px 0;
}

.form-elem {
    display: block;
    margin: 10px;
}

button {
    background: #2473a4;
    color: black;

    font-size: 14px;

    border: none;
    border-radius: 5px;

    padding: 3px 10px 3px 10px;
    margin-left: 25px;
    font-family: "Poppins";
    font-weight: bold;
}

button:hover {
    background: #a6a6a6;
    cursor: pointer;
}

#dislike-button {
    position:absolute;
    left: 450px;
}

.comment-img {
    margin-left: 2px;
}