/* General site styles
 ---------------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /** Font: Poppins **/

/** General Styles **/
body {
    margin: 0;
    background: #D4D4D4;
}

.center {
    text-align: center;
}

/** Header Styles **/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px;
    padding: 2px 10%;
    background-image: linear-gradient(to right, #2473a4, #18415b);
    box-shadow:.1px 4px 5px #919aa1;
}

a {
    display: inline;
    margin-right:auto;
}

.logo {
    width: 80px;
    height: auto;
    padding: 10px 0 10px 0;
    margin-right:auto;
}

/** Nav Styles **/
li,a,button {
    font-family:"Poppins";
    font-weight: 500;
    font-size:16px;
    text-decoration: none;
    color: #edf0f1;

}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transitions: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

/** Footer Styles **/
footer {
    /* Sticky Footer */
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;

    text-align: right;
    border: 1px;
    background-image: linear-gradient(to right, #2473a4, #18415b);
    /* box-shadow: 1px -4px 5px #919aa1; */
}

footer p {
    font-family:"Poppins";
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    color: #edf0f1;

    margin-right: 20px;
}

footer a {
    font-size: 12px;
}

footer a:hover {
    color: #0088a9
}

footer p.left {
    float: left;
    margin-left: 20px;
}

footer p.right {
    float: right;
    margin-right: 20px;
}

/** Login Styles **/
.login-container {
    background: white;
    width: 500px;
    text-align: center;
    font-family:"Poppins";
    margin: 0 auto 0 auto;
    box-shadow: .1px 4px 5px #919aa1;
}

.login-container button {
    color: black;
    margin-bottom: 20px;
}

.login-header {
    background-image: linear-gradient(to right, #2473a4, #18415b);
    color: white;
    font-weight: normal;
}

.login-header h2 {
    padding: 10px 0 10px 0;
}

.form-elem {
    display: block;
    margin: 20px 0 20px 0;
    padding-left: 15px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.form-elem label {
    display: block;
}

#username, #password {
    font-size: 14px;
    padding: 0 2px 0 2px;
    width: 200px;
}

/* Login Error Styles */
.login-error {
    background-color: #ED4337;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: italic;
    font-size: 14px;
    text-align: center;

    padding: 4px 0 4px 0;

    margin-top: 20px;
    margin-right: 40%;
    margin-left: 40%;
}

.login-error p {
    margin: 0 0 0 0;
    color: white;
}

/* Error Page Styles */
#error-container {
    background: white;
    width: 500px;
    text-align: center;
    font-family:"Poppins";

    margin: 15px auto 0 auto;
    padding: 10px 0 10px 0;

    box-shadow: .1px 4px 5px #919aa1;
}

.error {
    margin: auto;
}

#status {
    margin: auto;
}
