<link rel="stylesheet" href="/public/css/gameslist.css">
<div id="form-container">
    <h1>Add A New Game</h1>
    <form id="game-new" method="POST" action-"/new">
        <!-- Title -->
        <div class="form-elem">
            <label for ="title-input">Title:</label>
            <input id="title-input" type="text" name="newTitle">
        </div>
        <!-- Image -->
        <div class="form-elem">
            <label for ="image-input">Preview Image URL:</label>
            <input id="image-input" type="text" name="newImage">
        </div>
        <!-- Publisher -->
        <div class="form-elem">
            <label for ="publisher-input">Publisher:</label>
            <input id="publisher-input" type="text" name="newPublisher">
        </div>
        <!-- Release Year -->
        <div class="form-elem">
            <label for ="releaseyear-input">Release Year:</label>
            <input id="releaseyear-input" type="text" name="newReleaseYear">
        </div>
        <!-- Genres -->
        <div class="form-elem">
            <label for ="genre-input">Genres:</label>
            <input id="genre-input" type="text" name="newGenres">
        </div>
        <!-- Platforms -->
        <div class="form-elem">
            <label for ="platform-input">Platforms:</label>
            <input id="platform-input" type="text" name="newPlatforms">
        </div>
        <!-- Prices -->
        <div class="form-elem">
            <label for ="price-input">Prices:</label>
            <input id="price-input" type="text" name="newPrices">
        </div>
        <!-- Description -->
        <div class="form-elem">
            <label for ="description-input">Description:</label>
            <input id="description-input" type="text" name="newDesc">
        </div>
        <button id="new-submit" type="submit">Submit</button>
    </form>
</div>